{% extends "layout.html" %}
{% block body %}
<script>
    function greeting()
    {
    alert("Merci!");
    }
</script>

<!-- Jumbotron -->
  <div class="jumbotron">
  <h1>Grande vadrouille!</h1>
  <p class="lead muted">Liberté, égalité, fraternité dans le ménage!</p>
  <br>
  <form class="form-signin" action="add" method='post' onsubmit="greeting()">

      <h2 class="form-signin-heading muted">Veuillez sélectionner l'équipe</h2>
        <select multiple id="team" name="team" size="5">
          {% for user in users %}
            <option>{{user.name}}</option>
          {% endfor %}
        </select>
      <p><button class="btn btn-large btn-success" type="submit">Bim</button></p>
  <!-- <input type="text" class="input-block-level" placeholder="Personne #1"> -->
  <!-- <input type="password" class="input-block-level" placeholder="Personne #2"> -->
  <!-- <button class="btn btn-large btn-primary" type="submit">Sign in</button> -->

</form>


</div>

{% endblock %}